* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  :root {
    --main-bg-color: #f7b219;
  }
  /* #buttons{
    position: absolute;
    top: 100px;
    right: 20px;
    height: 2rem;
  } */
  
  body {
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    /* background-color: #FF5ACD; */
    /* background-color: #FBDA61; */
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
  
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    text-align: center;
  }
  #image_carousel {
    z-index: 0;
    max-width: 900px;
    width: 80vw;
    height: 40vw;
    overflow: hidden;
    max-height: 450px;
    margin-bottom: 5rem;
  }
  
  #main_heading {
    /* margin-top: 2rem; */
    /* font-family: "LemonMilk"; */
    font-family: 'Courier';
    text-align: center;
    font-weight:bold;
    font-size: 5rem;
  }
  .main_heading2 {
    font-family: 'Courier';
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .heading {
    color: white;
    font-family: 'Poppins';
    font-weight: semibold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .content {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .row {
    padding: 0 4rem;
    display: block;
  }
  
  
  #whole_content {
    overflow: hidden;
    height: 90%;
    padding: 3rem;
    padding-bottom: 5rem;
    border-radius: 20px;
    background-color: #1e1e65;
    margin: 1rem;
  }
  
  #whole img {
    display: block;
    width: 18rem;
    height: 12rem;
    overflow: hidden;
    object-fit: cover;
    margin: auto;
  }
  @media (max-width: 992px) {
    #whole img {
      width: 24rem;
      height: 14rem;
    }
    #whole_content {
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .row {
      padding: 0 2rem;
    }
    .content {
      font-size: 0.8rem;
    }
  }
  
  /* footer */
  
  @media (max-width: 768px) {
    #whole img {
      width: 80%;
      height: 50%;
    }
    #main_heading {
      font-size: 2.5rem;
    }
  
    #main_page {
      position: relative;
    }
    .main_heading2 {
      font-size: 2.5rem;
      font-weight:bold;
    }
  }
  
  .navbar {
    top: 0;
  }
  /* #culti.inactive{
    display: flex;
    animation: getoutright 2s ease;
    left:100vw;
  }
  #techy.inactive{
    display: flex;
    animation: getoutleft 2s ease;
    right: 100vw;
  } */
  #footer{
    overflow-y: hidden;
  }
  #main_page {
    z-index: -1;
    position: relative;
    display: block;
  }
  
  @media (max-width: 480px) {
    .row {
      padding: 0 0rem;
    }
    #whole_content{
      padding: 2rem 1rem;
      /* width: 90vw; */
    }
    .content {
      font-size: 0.8rem;
    }
  }